[run]
branch = True
source = .
omit =
    */migrations/*
    */tests/*
    manage.py
    .venv/*
    testing/detailed_performance_locustfile.py
    testing/locustfile.py
    testing/setup_test_data.py
    testing/test_orm_sql.py
    utils/rate_limiter.py

[report]
show_missing = True
skip_covered = True

[html]
directory = htmlcov
